nav {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: xx-large;
  background-color: whitesmoke;
}


.allblog {
  padding-top: 6rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  border: 1px black;
}

.blog {
  width: 65%;
  border: 2px black;
}

.title {
  font-size: x-large;
  padding: 1rem;
}
.subs {
  font-size: medium;
  padding-left: 1rem;
}

.newblog {
  padding-top: 6rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  border: 1px black;
}

form {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
}

label {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

textarea {
  resize: none;
  width: 100%;
  /* height: auto; */


  overflow-y: auto;
   
  box-sizing: border-box;
  padding: 40px;

}

input {
  width: auto;
  height: 40px;
  padding: 10px;
}

.addblog{
  display: flex;
  position: fixed;
  padding: 10px;
  width: 2rem;
  height: 2rem;
  justify-content: center;

  font-size: xx-large;
  
position: fixed;
    bottom: 200px;
    right: 200px; 
    border: 1px black;

}

.addblog:hover{
  cursor: pointer;

}



a {  
    text-decoration: none;
}


button{
  margin: 1rem;
  padding: 1rem;
}